@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

:root {
  --color: #444;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  color: var(--color);
  font-family: 'Montserrat','sans-serif'
}

.site-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 3rem 1fr 60px;
  
  height: 100%;
}

header {
  background-color: #e4e9e9;
  
  font-family: 'Libre Barcode 39 Text', 'sans-serif';
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.title {
  background-color: #45873f;
  border-bottom: 1px solid #ddd;
}

.title input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding-left: 1.5rem;
  font-weight: bold;
}

.content {
  background-color: #eee;
}

.metadata {
  background-color: #e4e9e9;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

textarea {
  padding: 1.5rem;
  line-height: 1.5;
  
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  
  border: none;
  outline: none;
  
  resize: none;
}

.meta-data-item {
  display: flex;
}

.meta-data-item label {
  margin-right: 1rem;
  font-weight: bold;
}

textarea, input {
  color: var(--color);
}